<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Calendário</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="calendar"></div>
    </div>

    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'month',
                editable: false, // Desabilitar edição dos eventos
                events: [
                    {% for reserva in reservas %}
                        {
                            title: '{{ reserva.cachorro.nome }}',
                            start: '{{ reserva.data_reserva|date:"Y-m-d" }}T{{ reserva.hora_reserva|time:"H:i:s" }}',
                            url: '/reserva/{{ reserva.num_reserva }}',
                            color: 'green',
                            description: '{{ reserva.cachorro.nome }} - {{ reserva.num_reserva }}'
                        },
                    {% endfor %}
                ],
                eventRender: function(event, element) {
                    element.attr('title', event.description);
                },
                eventClick: function(calEvent, jsEvent, view) {
                    window.location.href = calEvent.url;
                }
            });
        });
    </script>
    <style>
        .fc-event {
            background-color: green !important;
        }
    </style>
</body>
</html>