<!DOCTYPE html>
<html>
<head>
    <title>Relatório de Caixa Banho</title>
    <style>
        @page {
            size: landscape;
        }

        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Relatório de Caixa Banho</h1>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for caixa in caixas_filtrados %}
                <tr>
                    <td>{{ caixa.data_reserva }}</td>
                    <td>{{ caixa.descricao }}</td>
                    <td>{{ caixa.valor }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>